@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Saira:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Saira;
}

body{
    background-image: url("assets/Page-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Displaying the name given by player*/
.player-display{
   font-size: 20px;
   margin-left: 60px;
   margin-top: 15px;
   width: 500px;
}

.player-display span{
    color: #843ddd;
}
/*Score Board*/
.score-heading{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: -40px;
    text-shadow:  0 5px 4px 0px rgba(0, 0, 0, 0.50)  ;
}

/*Aligning three divs in a row*/
.main-container{
    display: flex;
    justify-content: space-evenly;
}

/*Board which give player buttons*/
.score-display{
    background-color: rgba(0, 0, 0, 0.782);
    height: 400px;
    width: 400px;
    padding: 17px;
}

/*vs image*/
.vs-image{
    height:100px;
}


/*Div which shows name of player and computer */
.name{
  color: white;
  text-align: center;
  font-size: 20px;
}

.player-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*Aligning buttons in a row*/
.buttons-container{
    display: flex;
    justify-content: space-evenly;
}


/*Styling buttons*/
.buttons{
    font-family: Saira;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: #843ddd;
    cursor: pointer;
}

.buttons:hover{
    background-color: rgba(0, 0, 0, 0.826);
    color: #843ddd;
}

.buttons:focus{
    background-color: rgba(0, 0, 0, 0.826);
    color: #843ddd;
}


/*This is style for clicked button*/
.user-live-runs-display{
    color: white;
    font-size: 150px;
    text-align: center;
}

.computer-live-runs-display{
    color: white;
    font-size: 150px;
    text-align: center;
    margin-top: 23px;
}

.score-display{
    box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.50);
}


/*This style is for footer*/
.footer{
    text-align: center;
    color: white;
    margin-top: 30px;
}


@media screen and (min-width: 320px) and (max-width:600px){
    
    body{
        overflow: hidden;
        background-image: none;
        background-color: rgba(0, 0, 0, 0.736) ;
        width: 555px;
        height: 1000px;
    }  
    
    /*Style for player name*/
    .player-display h1{
        font-size: 34px;
        width: 350px;
        margin-left: -40px;
        margin-top: 35px;
    }
    
    /*Live score heading*/
    .score-heading h1{
        margin-top: 70px;
        text-align: center;
    }

    /*Main container where player and computer choice will be displayed*/
    .main-container{
        align-items: center;
        flex-direction:column;
        height: 700px;
        justify-content: space-evenly;
    }
    
    /*Style for the button and name container box*/
    .score-display{
        height: 260px;
        width: 240px;
        padding: 5px;
    }

    .comuter-box{
        margin: 100px;
    }

    .user-live-runs-display{
        font-size: 60px;
    }

    .computer-live-runs-display{
        font-size: 60px;
        margin-top: 50px;
    }

    /*Removing image as it is bigger than its usual*/
    .vs-image{
        display: none;
    }
    
    /*Styling names and buttons inside main container*/
    .name h1{
        font-size: 24px;
    }

    .buttons{
        height: 28px;
        width: 28px;
        font-size: 14px;
    }
    
    /*This is for displaying who is going to play*/   
    #result-board{
        text-align: center;
        font-size: 23px;
        margin-left: 7px;
    }
}