/*Importing font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Saira:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Saira;
}

/*Giving styles for whole body*/
body{
    background-image: url(assets/Page-3.png);
    background-repeat: no-repeat;
    background-size: 1366px 651px;
    color: white;
    text-shadow: 3px 3px  rgba(0, 0, 0, 0.50);
}

/*Style for Game over Heading*/
.game-over h1{
    font-size:55px;
    text-align: center;
    margin-top: 18px;
    text-shadow:  5px 4px rgb(0, 0, 0,0.50);
}

/*Color for some selected text only*/
span{
    color: #843ddd;
}

/*ALigning Result box*/
.result-div{
    margin-left: 30px;
    margin-top: 30px;
}
.result-div h1{
    font-size: 35px;
    width: 1200px;
    margin: 5px;
    text-shadow:  0 5px 4px 0px rgba(0, 0, 0, 0.50);
}

/*Giving styles for buttons to align them end corner of page*/
.footer button{
    height: 45px;
    width: 120px;
    font-family: Saira;
    margin: 10px;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
}

.footer{
    margin-left: 960px ;
    margin-top: 140px;
}

/*Styling Buttons*/
.back-btn{
    color: white;
    background-color: black;
    box-shadow: 0 5px 4px 0px rgb(0, 0, 0);;
}

.retry-btn{
    color: black;
    background-color: #843ddd;
    box-shadow: 0 5px 4px 0px rgb(0, 0, 0);;

}

@media screen and (min-width: 320px) and (max-width:600px){
     
    body{
        overflow: hidden;
        background-image: none;
        background-color: rgba(0, 0, 0, 0.736) ;
    }  
    
    /*Giving style for game over*/
    .game-over h1{
        font-size: 22px;
        text-align: center;
        margin-top: 20px;
    }
    
    /*Giving styles for result which will show details about game*/
    .result-div{
        margin-top: 40px;
        margin-left: 7px;
        width: 250px;
    }
    
    .result-div h1{
        font-size: 15px;
    }
    
    /*Styling footer buttons*/
    .footer{
        margin-left: 150px;
        margin-top: 100px;
    }

    .footer button{
        width: 60px;
        height: 25px;
        font-size: 13px;
    }
}